<a href="https://colab.research.google.com/github/calrose/Pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import numpy as np

Data1 = pd.read_csv('/content/tableconvert_csv_so70jx.csv')
ser1 = pd.Series(Data1["petal.length"])
print(np.mean(ser1))
nump = Data1.to_numpy()
df = pd.DataFrame(nump, columns = ['sepal.length','sepal.width','petal.length','petal.width','variety'])
print(pd.DataFrame.mean(df))
Data2 = pd.read_json('/content/tableconvert_json_f0acan.json')
#Data2.to_csv('CSVData.csv')
Data3 = pd.read_xml('/content/tableconvert_xml_1dxz8d.xml')
print(Data3)
#Data1.to_xml('XMLdata.xml')

3.7580000000000027
sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  if __name__ == '__main__':

XMLSyntaxError: ignored

In [ ]:
import pandas as pd

Data = pd.read_csv('/content/tableconvert_csv_so70jx.csv')
#ser1 = pd.Series(Data["petal.length"])
#ser2 = pd.Series(Data["petal.width"])
#ser1[~ser1.isin(ser2)]

#Data.groupby("variety")["petal.length"].std()

#Data["variety"].value_counts()

#Data.describe()

#Data.head()

#Data.dtypes

#Data.var()

Data.to_json('JsonData.json')
Data.to_xml('XMLdata.xml')

50     4.7
51     4.5
52     4.9
53     4.0
54     4.6
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal.length, Length: 100, dtype: float64